1.What are data structures, and why are they important?

Data structures are ways to organize and store data efficiently.
They are important for optimizing data access, processing, and storage.

2. Explain the difference between mutable and immutable data types with examples

**Mutable:** Can be changed (e.g., `list`, `dict`)
**Immutable:** Cannot be changed (e.g., `int`, `str`, `tuple`)

3. What are the main differences between lists and tuples in Python?

* **List** is mutable, **tuple** is immutable
* Lists use `[]`, tuples use `()`
* Lists are slower, tuples are faster for iteration

4. Describe how dictionaries store data?
Dictionaries store data as **key-value pairs** using a **hash table**.
Each key is unique and maps to a value.

5. Why might you use a set instead of a list in Python?
To store **unique items** and for **faster membership checks** (using hashing).

6. What is a string in Python, and how is it different from a list?
A **string** is an **immutable** sequence of characters.
A **list** is a **mutable** sequence of elements (can be of any type).

7. How do tuples ensure data integrity in Python?
Tuples are **immutable**, so their data **can’t be changed**, ensuring integrity.

8.  What is a hash table, and how does it relate to dictionaries in Python?
A **hash table** stores data using **key–value pairs** with a **hash function**.
Python dictionaries use hash tables internally for fast access.

9. Can lists contain different data types in Python?
Yes, lists can contain **different data types** in a single list.

10. Explain why strings are immutable in Python?
Strings are immutable to ensure **memory efficiency**, **thread safety**, and **data integrity**.

11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries offer **faster lookups** and **key-based access**, unlike lists which use index-based access.

12. Describe a scenario where using a tuple would be preferable over a list?
Use a tuple when you need **fixed data** that shouldn't change, like storing **coordinates** or **days of the week**.

13. How do sets handle duplicate values in Python?
Sets **automatically remove duplicates** and store only **unique values**.

14. How does the “in” keyword work differently for lists and dictionaries?
For **lists**, `in` checks **values**.
For **dictionaries**, `in` checks **keys**.

15. Can you modify the elements of a tuple? Explain why or why not?
No, tuples are **immutable**, so their elements **cannot be modified** after creation.

16. What is a nested dictionary, and give an example of its use case?
A **nested dictionary** is a dictionary **inside another dictionary**.
**Use case:** Storing student records by ID with details like name and marks.

17. Describe the time complexity of accessing elements in a dictionary?
Accessing elements in a dictionary has **O(1)** average time complexity using **hashing**.

18. In what situations are lists preferred over dictionaries?
Lists are preferred when **order matters** or when storing **sequential, index-based data**.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries were unordered before Python 3.7. Now they **preserve insertion order**, but access is still by **key**, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
**List** retrieves data by **index** (position).
**Dictionary** retrieves data by **key** (label).

Q1. Write a code to create a string with your name and print it.

In [2]:
string = 'Archana Sahni'
print(string)

Archana Sahni

Q2. Write a code to find the length of the string "Hello World"P

In [3]:
string = "Hello World"
print(len(string))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
string = "Python Programming"
print(string[0:3])

Pyt

Q4. Write a code to convert the string "hello" to uppercase

In [5]:
string = "hello"
print(string.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [6]:
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it

In [7]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [1]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [2]:
list = [1,2,3,4,5]
list.pop(3)
print(list)

[1, 2, 3, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
list =  ['a', 'b', 'c', 'd']
print(list[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
my_list =  [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
tuple =  (100,200,300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[1:4])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ('apple', 'orange', 'kiwi')
print('kiwi' in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [3]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
set = {1,2,3,4,5}
print(set.clear())

None

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
set = {1,2,3,4}
set.discard(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 & set2
print(union_set)

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
dict = {'name': 'John', 'age': 25}
print(dict)

{'name': 'John', 'age': 25}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
 dict = {'name': 'John', 'age': 25}
 dict['country'] = 'USA'
 print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [36]:
data = {'name': 'Alice', 'city': 'Paris'}
if "city" in data:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [37]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [38]:
import random
random_numbers = [random.randint(1, 100)
for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [4, 70, 82, 90, 97]

28. Write a code to create a list with strings and print the element at the third index.

In [39]:
list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [40]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
print(dict1 | dict2)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [46]:
fruits = ['apple', 'banana', 'cherry', 'apple', 'banana']
unique_items = set(['apple', 'banana', 'apple'])
print(unique_items)

{'apple', 'banana'}